a{
	text-decoration: none;
	padding-right: 20px;
	width: 960px;
}
body
{
	margin-top: auto;
}

.copyrights
{
	padding-left: 30px;
	margin-top: 120px;

}

footer
{
	text-align: center;
	padding-right: 20px;

	background: pink;
}



.hero
{
	margin-left: 0px;
}
h1
{
	text-align: center;
}
header
{
	position: fixed;
	width:auto;
	/*height: 10px;*/

	
}

li
{

	display: inline;
	text-indent: 15px;

	
		
}


.logo
 {

	float: left;
	margin: 0;

}


.navigation
{
	padding-top: 25px;
	display: inline;
	margin-top: 10px;
	text-align: right;
	text-align: right;
	width: auto;
	height: 120px;
	background: pink;
}



.wrapper
{
	height: 120px;
}
.grid_8 ul{
	display: inline;
	margin-left:200px; 
}




